<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="id1"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
      </application>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            id="org.palladiosimulator.experimentautomation.dsl.application.launchConfigurationType1"
            name="name">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.palladiosimulator.experimentautomation.dsl.application.AbstractLaunchConfigurationTabGroup1"
            id="org.palladiosimulator.experimentautomation.dsl.application.launchConfigurationTabGroup1"
            type="org.palladiosimulator.experimentautomation.dsl.application.launchConfigurationTabGroup1">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.palladiosimulator.experimentautomation.dsl.application.launchConfigurationTypeImage1"
            icon="org.palladiosimulator.experimentautomation.dsl.application.launchConfigurationTypeImage1"
            id="org.palladiosimulator.experimentautomation.dsl.application.launchConfigurationTypeImage1">
      </launchConfigurationTypeImage>
   </extension>

</plugin>
